<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <h1>This is secret page</h1>
 
    <img src=
    "https://scontent.fsgn2-11.fna.fbcdn.net/v/t39.30808-1/324021217_834535590939070_500152808703319810_n.jpg?stp=dst-jpg_p200x200&_nc_cat=102&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeFGUpE9AKQ0rpd-vb3XBSJd8tFqiRo4F_Ly0WqJGjgX8seAOfFASbzBRoKrr4pB8YWx7fKpBgxOOlXPxCFiGcVD&_nc_ohc=Fwlw0F6q52cQ7kNvgG1pkxM&_nc_ht=scontent.fsgn2-11.fna&oh=00_AYCR-H3KY7HKPAUz8TiaHtZHj3z4nNkG5fGwQNIV6sXQ_A&oe=6682978C">
     
    <h1>This is home page</h1>
     
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>

</body>
</html>
